<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Menu Calculadora</h1>
<ul>
<li><a href="calculoSuma?num1=700&num2=300">Sumar</a></li>
<li><a href="calculoResta?num1=80&num2=15">Restar</a></li>
<li><a href="calculoProducto?num1=20&num2=30">Multiplicar</a></li>
<li><a href="calculoCosiente?num1=380&num2=40">Dividir</a></li>
<li><a href="calculoPotencia?num1=2&num2=3">Potencia</a></li>
<li><a href="calculoRaiz?num1=4&num2=2">Raiz</a></li>

</ul>
</body>
</html>